@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  background: #0a0a1a;
  min-height: 100vh;
}